{% extends 'amazon/base.html' %}

{% block content %}
  <h1>Product List</h1>

  <ul>
    {% for product in products %}
      <li>
        <h3>{{ product.name }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <form action="{% url 'productList' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ product.id }}">
          <label for="quantity">Quantity:</label>
          <input type="number" name="quantity" min="0" value="0">
          <input type="submit" value="Add to Cart">
        </form>
      </li>
    {% endfor %}
  </ul>

  <a href="{% url 'viewCart' %}"><button>Check Shopping Cart</button></a>
{% endblock %}
